@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    height: 100%*/;
}
body{
    background-image: linear-gradient(to right, #74D7F7,#5EE067);
}
main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #3480399d;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1{
    color: #FCEA6A;
    text-align: center;
    text-shadow: 1px 1px 2px #998e3f9c ;
}
h2{
    color: #905EE0;
}
p{
    color: black;
    text-align: center;
}
